* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
body {
	background: #EEF3F5;
	font-family: 'Poppins', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}

li{
	list-style: none;
}